* {
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: "Karla", sans-serif;
}


.header {
  display: flex;
  align-items: center;
  height: 65px;
  padding: 20px;
  background-color: purple;
  color: white;
}

.header--logo {
  height: 120%;
  margin-right: 7px;
}

.header--title {
  margin-right: auto;
}
